
.deck-container {
width: 100%; height: 100%; /* to get a proper filling of the parent */
margin: 0; padding: 0; /* any margin is handled by the parent or the fit extension */
position: absolute;
left:0; top:0; width:100%; height:100%;
border: 0;
}
.deck-container>.slide {
width: 100%; height: 100%; /* to get a proper filling of the parent */
min-width:0; min-height:0; /* undoing some hurting style in the defaults of deck.js */
overflow: hidden; /* don't show slides outside of their box */
/* margin:0; padding:0; /* remove possible margins */
}